.conteiner-1{
    display: flex;
    
    gap: 100px;
    
}

.map{
    position: relative;
    margin-top: 20px;
    margin-left: 100px;
    width: 70vh;
    border-color: rgb(60, 60, 60);
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}

.regiones{
    height: 30px;
    margin-top: 20px;
    
    font-family: "Poppins", serif;
}

.region-div{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    font-family: "Poppins", serif;
    margin-bottom: 20px;
}

#path{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
   
 
}

#choose{
    width: 50vw;

}

.alg{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    
}

.algs{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
    width: 400px;
    color: white;
    transition: 0.5s ease;
}

.a1{

    background-color: rgb(229, 33, 250);

}

.a2{
    background-color: rgb(39, 205, 255);
}

.algs:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 20px 1px rgba(4, 0, 52, 0.8);
}